@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #020617; /* slate-950 */
}

::-webkit-scrollbar-thumb {
  background: #1e1b4b; /* indigo-950 */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #312e81; /* indigo-900 */
}